<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>jugyo.tunnels</string>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/bin/env</string>
                <string>ruby</string>
                <string>-rtunnels</string>
                <string>-eTunnels.run!</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
        <!-- Uncomment if you encounter problems.
        <key>StandardOutPath</key>
        <string>/var/log/tunnels.log</string>
        <key>StandardErrorPath</key>
        <string>/var/log/tunnels.log</string>
        <key>Debug</key>
        <true/>
        -->
</dict>
</plist>
